.plans{
    padding: 124px 60px 0 60px;
}
.cards-plans{
        flex-wrap: wrap;
    }
/* =================================== Responsive ================================== */
@media screen and (max-width:992px) {
.card-plans {
    padding: 36px 24px;
    width: 320px;
  }
}
@media screen and (max-width:992px) {
    .card-plans {
        justify-content: center;
        gap: 30px;
    }
    .cards-plans{
        justify-content: center;
        gap: 30px;
    }
}
