.services{
    padding: 124px 60px 0 60px;
    text-align: center;
}
.services .cards-services{
    background-color: #4c4c4c27;
    border-radius: 15px;
    padding: 96px 120px;
}
/* =================================== Responsive ================================== */
@media screen and (max-width:992px) {
    .services .cards-services{
        padding: 64px 35px;  
    }   
}
@media screen and (max-width:768px) { 
    .services .cards-services{
        flex-wrap: wrap ;
        justify-content: center;
        gap: 20px;
    }   
}
