.hero{
    height: 100vh;
    position: relative;
    background-image: url("/src/assets/slide-img.png");
    background-size: cover;
}
.hero-description{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-30%);
    text-align: center;
    gap:30px
}
.hero-description h1{
    font-size: 68px;
}

.hero-description p{
    font-size: 24px;
}
.hero button{
    padding: 15px 40px;
    width: 220px;
    border-radius: 15px;
    font-size: 18px;
}

/* =============Responsive ================= */
@media screen and (max-width:687px) {
    .hero-description{
        gap:18px
    }
    .hero-description h1{
        font-size: 38px;
    }
    
    .hero-description p{
        font-size: 16px;
    }    
}