form{
    width: 45%;
    background-color: #FFE7AC;
    padding: 64px 35px;
    border: 2px solid var(--Black-color);
    border-radius: 15px;
    box-shadow: 5px 4px 4px 3px;
}
form input{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}
form .form-group{
    margin-bottom: 26px;
}
form button{
    width: 280px;
}
/* ============Responsive ============== */
@media screen and (max-width:992px) {
    form{
        width: 100%;
    }
}